div
{
    font-family: sans-serif;
    color: #0a0a0a;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.sidebar
{
    height: 100vh;
    border-left: 2px solid #5E0035;
    padding: 5px;
    box-shadow: -6px 0px 12px -2px rgba(58, 58, 58, 0.38);
}

.selected-class {
    font-size: x-large;
    margin-bottom: 10px;
}

#has-common div {
    font-family: 'Consolas', monospace;
}

#header
{
    border-bottom: 2px solid #5E0035;
}

#header a {
    font-weight: 200;
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
    text-decoration: underline;
    font-size: x-large;
    color: #0a0a0a;    
}

#details {
    min-width: 20vw;
}

h1 {
    font-weight: 200;
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;    
}


.links line 
{
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

circle {
    fill: white;
    stroke: #333;
}

circle.selected {
    fill: #5E0035;
}

circle.secondary {
    fill: #023618;
}

.target {
    margin-left: 15px;
}

.links line 
{
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

circle.selected {
    fill: #f00;
}

circle.secondary {
    fill: yellow;
}

.target {
    margin-left: 15px;
    text-decoration: underline;
}

pre {
    margin:0;
}

code pre.preamble {
    border: none;
}

code pre.important {
    border:none;
    background: #e8ffe2;                
}

code pre.postfix {
    border:none;
}

code {
    margin: 5px;
}

.hidden 
{
    display: none;
}